<a class="addnew" href={{link}} alt="{{#str}}addnew, block_news {{/str}}" title="{{#str}}addnew, block_news {{/str}}">{{#str}}addnew, block_news {{/str}}</a>
<br/><br/>
<style>

a.addnew {
   color: black !important;
}
a:hover.addnew {
   color: #1177d1 !important;
}
</style>
